/*------------------------------------*\
    #Skip link
\*------------------------------------*/

.skip-link {

	@extend .visuallyhidden;

	background-color: $strata-orange;
	font-weight: 700;
	text-decoration: none;
	padding: em(10) em(15);

	&:focus,
	&:active {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 999;
		outline: none;
	}

}